@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }

  body {
    @apply bg-[#002545] text-[#c5f4ff] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }

  h3 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  h4 {
    @apply text-lg sm:text-xl md:text-2xl;
  }
  h5 {
    @apply text-base sm:text-lg md:text-xl;
  }

  li {
    @apply cursor-pointer;
  }

  .code {
    font-family: "Courier Prime", monospace;
  }

  .container {
    @apply w-full h-screen mx-auto px-4;
  }

  .content {
    @apply max-w-[1260px] w-full h-full mx-auto p-2;
  }

  .card {
    @apply bg-[#002545] rounded-lg shadow-lg p-4 mx-auto w-[288px] h-[400px];
  }

  .blocks {
    @apply bg-[#002545] rounded-lg shadow-xl w-[580px] h-[530px] border-gray-200 border;
  }
  body.active-modal {
    overflow-y: hidden;
  }

  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }

  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.41);
  }
  .modal-content {
    position: absolute;
    top: 41.75%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 2px 2px;
    border-radius: 3px;
    max-width: 620px;
    min-width: 500px;
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }
}
